/* Import Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Base styles */
:root {
  /* Define color variables */
  --uva-blue: #232d4b; /* UVA Blue */
  --uva-orange: #f84c1e; /* UVA Orange */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt; /* 14pt font size */
}

/* Light mode styles */
.light-mode {
  --primary-color: var(--uva-blue);
  --secondary-color: var(--uva-orange);
  --font-color: black;
  background-color: #ffffff;
  color: var(--font-color);
}

/* Dark mode styles */
.dark-mode {
  --primary-color: var(--uva-orange);
  --secondary-color: var(--uva-blue);
  --font-color: white;
  background-color: #121212;
  color: var(--font-color);
}

/* Example usage of primary and secondary colors */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main-body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.logo-small {
  height: 50px;
  margin-right: 20px;
}

.logo-large {
  height: 300px;
  margin-right: 20px;
}